.filtrTitle {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.filterInput {
    display: block;
    margin-top: 5px;
    width: 200px;
    height: 25px;
    border-color: #f1e68f;
    border-radius: 5px;
}